* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    background-color: #22252c;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6% 20% 20% 20%;
    padding: 20px;
}

.topo {
    background-color: #373c48;
    grid-column: 1 / 5;
    text-align: center;
    padding: 10px;
    font-size: 42px;
    font-weight: bold;
    border-top: 10px solid #ffaa64;
    color: white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.ladinho {
    display: flex;
    background-color: #373c48;
    grid-column: 1 / 4;
    grid-row: 2;
    border-radius: 10px;

}

.EsquerdaIMG {
    flex: 1;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.EsquerdaText {
    padding: 10px;
    font-weight: bold;
    flex: 5;
    font-size: 320%;
    color: white;
}



.grandeC {
    background-color: #373c48;
    grid-column: 4/5;
    grid-row: 2/5;
    display: flex;
}

.PequenoC1 {
    grid-column: 1;
    grid-row: 3;
    background-color: #373c48;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.PequenoC1 img {
    height: 50%;
    width: 100%;
    object-fit: fill;
}

.PequenoC1 p {
    padding: 7px;
    font-size: 16px;
    word-wrap: break-word;

}

.PequenoC2 {
    background-color: #ffaa64;
    grid-column: 2;
    grid-row: 3;
    background-color: #373c48;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.PequenoC2 img {
    height: 50%;
    width: 100%;
    object-fit: fill;
}

.PequenoC2 p {
    padding: 7px;
    font-size: 16px;
    word-wrap: break-word;
}

.PequenoC3 {
    background-color: #ff6860;
    grid-column: 3;
    grid-row: 3;
    background-color: #373c48;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.PequenoC3 img {
    height: 50%;
    width: 100%;
    object-fit: fill;
}

.PequenoC3 p {
    padding: 7px;
    font-size: 16px;
    word-wrap: break-word;

}

.PequenoC4 {
    background-image: url(../../IMG/guerra.jpg);
    border-radius: 10px;
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: #373c48;
}

.PequenoC5 {
    background-color: #ff6860;
    grid-column: 3;
    grid-row: 4/5;
    background-color: #373c48;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.PequenoC5 img {
    height: 50%;
    width: 100%;
    object-fit: fill;
}

.PequenoC5 p {
    padding: 7px;
    font-size: 16px;
    word-wrap: break-word;
}